<nav class="navbar navbar-expand-lg p-3" style="background-color: #ffe347;">
  <div class="container-fluid d-flex justify-content-between px-5">
    <!-- Left: Logo -->
    <a class="navbar-brand fw-bold text-dark" href="#">Movie App</a>
    <div class="d-flex align-items-center ">
        <div class="dropdown me-3">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            En
          </a>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item">En</a></li>
              <li><a class="dropdown-item">Ar</a></li>
          </ul>
        </div>
    <!-- Right: Watchlist -->
        <div class="d-flex align-items-center justify-content-left">
          <a routerLink="/watchlist" class="nav-link d-flex align-items-center text-dark fw-bold justify-content-center">
            <span class="d-flex align-items-center position-relative" style="font-size: 2.5rem; margin-right: 6px;">
              <i _ngcontent-ng-c2889612910="" class="bi h2 bi-heart-fill text-black px-2"></i>
              <h5 class="me-3">
                watchlist
              </h5>
              <span class="badge bg-light text-white rounded-square position-absolute top-0 start-100 translate-top-y" style="font-size: 1rem; width: 1.8rem; height: 1.8rem; line-height: 1.2rem;">
                <p class = "text-dark">
                  {{ (watchlistService.watchlist$ | async)?.length || 0  }}

                </p>
              </span>
            </span>
          </a>
          
          <!-- <div class="square">100</div> -->
        </div>
    </div>
  </div>
</nav>
  