<div class="card movie-card shadow-sm h-100">
  <!-- Poster -->
  <a
    [routerLink]="['/movie', movie.id]"
    class="link-dark link-underline-opacity-0"
  >
    <div class="position-relative">
      <img
        [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
        class="card-img-top rounded-top"
        alt="{{ movie.title }}"
      />

      <!-- Rating Circle -->
      <div class="score-circle">
        <svg class="progress-circle" viewBox="0 0 36 36">
          <path
            class="circle-bg"
            d="M18 2.0845
                 a 15.9155 15.9155 0 0 1 0 31.831
                 a 15.9155 15.9155 0 0 1 0 -31.831"
          />
          <path
            class="circle"
            [attr.stroke-dasharray]="movie.vote_average * 10 + ', 100'"
            d="M18 2.0845
                 a 15.9155 15.9155 0 0 1 0 31.831
                 a 15.9155 15.9155 0 0 1 0 -31.831"
          />
        </svg>
        <div class="circle-text">
          {{ movie.vote_average * 10 | number : "1.0-0" }}%
        </div>
      </div>

      <!-- Options button -->
      <div class="options-btn">⋮</div>
    </div>
  </a>

  <!-- Card Body -->
  <div class="card-body">
    <a
      [routerLink]="['/movie', movie.id]"
      class="link-dark link-underline-opacity-0"
    >
      <h6 class="fw-bold mb-1 text-truncate">{{ movie.title }}</h6>
    </a>
      <p class="text-muted mb-2">
        {{ movie.release_date | date }}
        <!-- Watchlist Heart -->
        <!-- <span class="heart ms-5"  (click)="toggleWatchlist(movie)">
        <i class="bi" [ngClass]="isInWatchlist(movie.id) ? 'bi-heart-fill text-warning' : 'bi-heart text-secondary'"></i>
        </span> -->
            <!-- add to watchlist -->
            <button class="btn btn-link ms-2" (click)="toggleWatchlist(movie)">
              <i class="bi" [ngClass]="isInWatchlist(movie.id) ? 'bi-heart-fill text-warning' : 'bi-heart text-secondary'"></i>
            </button>
          </p>
  </div>
</div>
